a {
  color: unset;
  text-decoration: none; /* no underline */
}

.poster {
  height: 100%;
  width: 106px;
}

.movie {
  max-width: 1200px;
  height: 162px;
  position: relative;
  margin-bottom: 5px;

  &:hover {
    background: whitesmoke;
    cursor: pointer;
  }

}


