<h1 *ngIf="!movie.Title">movie not found</h1>
<div *ngIf="movie.Title" class="movie-detail">
  <h2 class="mt-0">{{movie.Title}} ({{movie.Year}}) - {{movie.Type}}</h2>
  <div class="media movie border-bottom-0">
    <img class="mr-3 poster" src="{{movie.Poster}}" alt="Generic placeholder image">
    <div class="media-body">
      <div class="info">
        <p>Genre: {{movie.Genre}}, Runtime: {{movie.Runtime}} </p>
      </div>
      <p>{{movie.Plot}}
      <p>
        Rating: {{movie.imdbRating}}
    </div>
  </div>
</div>
